@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@200;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
}
body {
  background: #f4faf9;
}
.container,
.nContainer {
  padding: 0;
  width: 85%;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.nContainer {
  padding-top: 1rem;
}
.nContainer header img {
  margin-bottom: 0.5rem;
}
header h1 {
  color: #1b4948;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: capitalize;
}

.newsPosts {
  width: 98%;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.newsCard {
  margin: 1rem 1.5rem;
  padding: 1rem;
  width: 28%;
  text-align: center;
  background-color: white;
  border-radius: 0.5rem;
}
.newsCard:hover {
  box-shadow: 6px 7px 26px -10px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.newsCard img {
  border-radius: 0.5rem;
  width: 100%;
}

.newsCard h2 {
  margin: 0.5rem 0;
  color: #1b4948;
  text-transform: capitalize;
}
.newsCard button {
  margin: 0.5rem 0;
  color: #f4faf9;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #1b4948;
  cursor: pointer;
}

.newsCard h3 {
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
  font-weight: normal;
  color: #b3b3b3;
}
.pagination {
  display: flex;
  justify-content: center;
}
/* Pagination links */
.pagination button,
.pagination p {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: unset;
  border: none;
  margin-right: 5px;
  transition: background-color 0.3s;
}

/* Style the active/current link */
.pagination p.active {
  background-color: #1b4948;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination button:hover:not(.active) {
  background-color: #ddd;
  cursor: pointer;
}
.pagination button:disabled {
  background-color: #ddd;
  color: #b3b3b3;
}
.newstext {
  text-align: center;
  color: #8ea7a4;
  font-style: italic;
  font-size: 1.1rem;
}
.comment {
  width: 80%;
  margin: auto;
  display: flex;
  /* margin-top: 1rem; */
  justify-content: space-between;
}
.comment h3 {
  font-size: 1.5rem;
  color: #1b4948;
  padding: 1rem 0;
}
.comment-list {
}
.comment-list aside {
  display: flex;
  border-bottom: 1px solid #8ea7a4;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.comment-list aside img {
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.comment-list aside article {
  margin: 0 0.5rem 0.5rem 0.5rem;
}
.comment-list aside h4 {
  color: #1b4948;
}
.comment-list aside p {
  color: #8ea7a4;
  font-size: 0.9rem;
  font-style: italic;
}
